.App {
  text-align: center;
}

.Header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-content {
  overflow-x: hidden;
    overflow-y: overlay;
  }
  
  ::-webkit-scrollbar {
    width: 20px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll-content {
  overflow: hidden;
}

.footer {
  background-color: #fff;
  padding: 20px;
  border-top: 1px solid #e8e8e8;
  position: initial;
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#profileButton {
  background-color: #9c27b0;
  background-color: #9c27b0;
  transition: all 0.3s;
}
#profileButton:hover {
  background-color: purple;
  border-color: purple;
  transform: scale(1.2);
}

#homeButton {
  background-color: #9c27b0;
  background-color: #9c27b0;
  transition: all 0.3s;
}
#homeButton:hover {
  background-color: purple;
  border-color: purple;
  transform: scale(1.2);
}

#close-icon {
  float: right;
  height: 38px;
  width: 38px;
  transform: translate(10px, -10px);
}

.buggyPopUpLogo {
  height: 48px;
  width: 48px;
  transform: translate(-10px, -15px);
}