.title {
    border-bottom: 1px solid lightgray;
    font-size: medium;
}

.buggyPopUpLogo {
    float: left;
    height: 80px;
    transform: translate(10px, -5px);
}

.buggyLogoContainer {
    height: 50px;
    width: 5px;
}

.closeIcon {
    display: flex;
    justify-content: flex-end;
    transform: translate(-10px, -40px);
}

.header {
    height: 70px;
    border-bottom: 1px solid lightgray;
}