.no-content-buggy-logo {
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: 2;
    transform: translateY(-10px);
    height: 64px;
    width: 64px;
}

.test-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(50px);
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.message {
    font-size: medium;
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }

    20% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0);
    }
}