.signup-form {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    animation: fadeIn 1s ease;
}

.signup-title {
    transform: translateY(15px);
}

#first-lastname {
    display: flex;
    width: 200px;
    padding: 0;
}

.ant-form-item-explain-error {
    font-size: 12px;
  }

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.already-a-member {
    transform: translateY(-10px);
}

#submit-signup {
    transition: all 0.3s;
    background-color: #FFA500;
    width: 150px;
}
#submit-signup:hover {
    transform: scale(1.2);
    background-color: orange;
}

