@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.App {
  text-align: center;
}
.title {
  border-bottom: 1px solid lightgray;
  font-family: 'Courgette', cursive;
  font-size: medium;
}
.buggyPopUpLogo {
  float: left;
  height: 100px;
  transform: translate(10px);
}
.bottomNavBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
}

